.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

button{
  height: 40px;
  margin: 10px;
  background-color: white !important;
  color: black !important;
  border: 2;
  border-color: grey !important;
}

.Nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 10; /* Stay at the top */
    left: 0;
    background-color: white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.Search{
    height: 40px;
}

h1{
  font-size: 20px;
}

.recipes{
  width: 500px;
}

img{
  width: 230px !important;
  height: 200px !important;
  align: center !important;
  position: center !important;
  padding-left: 45px;
  border-radius: 20px !important;
}

form{
  padding: 1em;
}

i.heart.icon{
  color: pink;
}






body{
background-image: url('./white.jpg') !important;
background-size: 100% !important;
}



.form{
  background-image: url('./baking.jpg') !important;
  background-size: cover;
  height: 100vh;
}


.title{
  font-family: "Brush Script MT", cursive;
  font-size: 150px;
  background: -webkit-linear-gradient(pink, salmon);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



.pic{
  border-radius: 50px;
}


.try{
}


.router{
  background: black;
  font: white;
}

a {
  color: black !important
}



visible.content{
  size: 300px !important;
  position: center !important;
}


.ui.grid{
  padding-left: 150px !important;
}
